<div class="card">
    <div class="cardbody">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis excepturi, dicta suscipit esse dignissimos fugiat recusandae in numquam voluptates laborum blanditiis soluta omnis consequatur. Sunt eius sed vero, incidunt numquam facere quam aperiam velit, consequuntur aspernatur, delectus suscipit expedita ratione?</p>
       
    </div>
</div>