<div class="jumbotron mt-4">
<h1 class="display-4">Notes app nodejs a mongodb</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima accusantium cum similique quis consequatur cumque, soluta labore facere dolore aut a quod vitae est neque sed voluptas. Sunt, maiores voluptatibus.</p>
<a href="" class="btn btn-primary btn-lg">aplastame</a>
</div>